.container{
    padding: 0 40px;

    .socialReg{
        width: 50%;
        display: inline-block;
    }

    .login_container{
        display: inline-block;
        width: 44%;
        min-height: 298px;
        vertical-align: top;
        margin: 0 0 0 40px;

        .title{
            width: 179px;
            height: 20px;
            font-family: AktivGroteskCorp;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            color: #000000;
        }

        .email {
            margin: 20px 0 0 0;
        }

        .password {
            margin: 10px 0 0 0;
        }

        .enter {
            width: 354px;
            height: 62px;
            border-radius: 2px;
            background-color: #007fff;
            border: none;
            margin: 10px 0 0 0;
            cursor: pointer;

            & > div{
                text-align: left;
                margin: 0 0 0 24px;
                font-family: AktivGroteskCorp;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.25;
                color: #ffffff;
            }
        }
    }

    .reg_container{
        width: 325px;
        height: 20px;
        font-family: AktivGroteskCorp;
        font-size: 16px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        color: #000000;
        cursor: default;
        margin: 40px auto;

        .reg_button{
            width: 65px;
            height: 20px;
            font-family: AktivGroteskCorp;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.25;
            color: #0080ff;
            cursor: pointer;
        }
    }
}
