.sliderBig_container{
    height: 354px;
    max-width: 1360px;
    overflow: hidden;
    position: relative;

    .slide{
        display: inline-block;
        width: 1260px;

        .poster_container{
            position: relative;
            width: 236px;
            height: 354px;
            cursor: pointer;
            display: inline-block;

            .poster{
                float: left;
                position:relative;
                width: inherit;
                height: inherit;
            }

            .icon_container{
                cursor: pointer;
                position: absolute;
                border-radius: 22px;
                background-color: rgba(64, 64, 64, 0.5);
                top: 6px;
                left: 6px;
                width: 36px;
                height: 36px;
                text-align: center;

                .icon{
                    color: white;
                    font-size: 109%;
                    position: relative;
                    top: 5px;
                }
            }
        }

        .trailer_container{
            width: 1025px;
            height: 354px;
            position: relative;
            cursor: pointer;
            display: inline-block;

            .trailer_preview{
                height: inherit;
                position: relative;
                float: left;
                width: 100%;
            }

            .icon{
                position: relative;
                font-size: 362%;
                bottom: 57%;
                left: 46%;
                color: #ffffff;
                float: left;
            }
            .title_container{
                height: 50px;
                float: left;
                position: relative;
                bottom: 50px;

                .title{
                    font-family: NewsGothic-Cond;
                    font-size: 20px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.2;
                    color: #ffffff;
                    text-transform: uppercase;
                }

                .description{
                    opacity: 0.75;
                    font-family: AktivGroteskCorp;
                    font-size: 14px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.29;
                    color: #ffffff;
                }
            }
        }
    }

    .prev_arrow{
        position: absolute;
        top: 130px;
        left: 0;
    }

    .next_arrow{
        position: absolute;
        right: 0;
        top: 130px;
    }
}
